


<% if @current_user %>

	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-sm-11">
					<div class="backpanel">
						<h5 class="text-center">the latest chit-chat on fb.ly</h5>
						<%= render partial: "shared/postsfeed", collection: @wall_posts_feed, as: :post %>
					</div>
				</div>
			</div>
		</div><!-- .col-sm-5 -->

		<div class="col-sm-6">

			<% unless @myfriends.empty? %>
			<div class="backpanel">
				<h5>Your Friends</h5>
				<div class="toppanel">

					<%= render partial: "shared/friend", collection: @myfriends, locals: {connection: "friends"} %>

				</div>
			</div>
			<% end %>

			<% unless @wants_to_be_my_friend.empty? %>
			<div class="backpanel">
				<h5>Someone wants to be your friend</h5>
				<div class="toppanel">
					
					<%= render partial: "shared/friend", collection: @wants_to_be_my_friend, locals: {connection: "requested_me"} %>

				</div>
			</div>
			<% end %>

			<% unless @want_to_be_their_friend.empty? %>
			<div class="backpanel">
				<h5>Here are the people you've sent friend requests to</h5>
				<div class="toppanel">
					<% if flash[:requestsent] %>
						<div class="alert alert-success alert-dismissable">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <%= flash[:requestsent] %>
						</div>
					<% end %>


					<%= render partial: "shared/friend", collection: @want_to_be_their_friend, locals: {connection: "i_requested"} %>

				</div>
			</div>
			<% end %>

			<% unless @allpeople.empty? %>
			<div class="backpanel">
				<h5>Here are your future friends</h5>

				<div class="toppanel">

					<%= render partial: "shared/friend", collection: @allpeople, locals: {connection: "none"} %>

				</div>
			</div>
			<% end %>

			<%= render 	partial: "shared/wall", locals: { wall_posts: @wall_posts, who: @current_user } %>

		</div> <!-- .col-sm-7 -->

	</div> <!-- .row -->



<% else %>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="text-right">
			<h1>Time to connect<br>
				<small>Your friends are waiting for you</small></h1>
			</div>
		</div>
		<div class="col-sm-6">
			<% if @all_people.count < 3 %> 
				<%# put in dummy pics/names if less than 3 profiles in db%>

				<div class="backpanel">
					<h3>
					<img alt="Jake" src="/images/profile1.jpg" height="100"/> Jake
					</h3>
				</div> <!-- .backpanel -->

				<div class="backpanel">
					<h3>
					<img alt="Jong-il" src="/images/profile2.jpg" height="100" /> Jong-il
					</h3>
				</div> <!-- .backpanel -->

				<div class="backpanel">
					<h3>
					<img alt="Diana" src="/images/profile3.jpg" height="100" /> Diana
					</h3>
				</div> <!-- .backpanel -->
			<% else %>
				<%= render partial: "shared/friendtease", collection: @all_people %>
			<% end %>

		</div> <!-- .col-sm-7 -->
	</div> <!-- .row -->

<% end %>