

<div class="col-sm-8">
	<div class="backpanel">

		<%= bootstrap_form_for Friend.new, url: '/friend' do |f| %>

		<div class="row">
			<div class="col-sm-6">
				<div class="row"  style="padding-top: 1em">
					<div class="col-sm-2">
						<%= image_tag show_profile_photo(@friend_to_be, :medium), size: "50x50" %>
					</div>
					<div class="col-sm-10">
						<h3><small>send a friend request to </small><br> <%= @friend_to_be.publicprofile.firstname %> <%= @friend_to_be.publicprofile.lastname %> </h3>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<%= f.text_area :initial_request_message %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="text-right">
					<a href="/" ><small>&lt; Whoa! I'm not ready for friends yet!</small></a>

					<%= hidden_field_tag 'friendid', @friend_to_be.id %>
					<%= f.submit 'Hey! Be my friend!' %>
				</div>
			</div> <!-- .col-sm-10 -->
		</div> <!-- .row -->
	</div> <!-- .backpanel -->
</div> <!-- .col-sm-8 -->
		<% end %>