<div class="well well-sm">
	<a href="/">&lt; Whoa! I'm not ready for friends yet!</a>
</div>

<div class="container">

<%= bootstrap_form_for Friend.new, url: '/friend' do |f| %>

<div class="col-sm-8">
	<div class="well">
		<div class="row">
			<div class="col-sm-6">
				<h3><small>send a friend request to </small><br> <%= @friend_to_be.firstname %> <%= @friend_to_be.lastname %> </h3>
			</div>
			<div class="col-sm-6">
				<%= f.text_area :initial_request_message %>
			</div>
		</div>
		<%= f.submit 'Hey! Be my friend!' %>
	</div>
</div>
<% end %>