
<div class="backpanel">
	<a href="/">Cancel</a>
</div>

<div class="container">

<%= bootstrap_form_for setup_user(User.new), url: '/signup' do |f| %>

<div class="col-sm-8">
	<div class="backpanel">
		<div class="row">

				<%= f.fields_for :publicprofile do |ff| %>
					<div class="row">
					  <div class="col-sm-6">
					    <%= ff.text_field :firstname, 'required' => true  %>
					  </div>
					  <div class="col-sm-6">
					    <%= ff.text_field :lastname %>
					  </div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= ff.file_field :profile_photo %>
						</div>
					</div>
				<% end %>


 

		</div>
		<% if flash[:notice] %>
			<div class="alert alert-danger alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		  <%= flash[:notice] %>
			</div>
		<% end %>
		<%= f.email_field :email, 'required' => true %>
		<%= f.password_field :password, 'required' => true %>
		<%= f.password_field :password_confirmation, 'required' => true %>
		<%= f.submit 'Join!' %>
	</div>
</div>
<% end %>


</div>