
<div class="backpanel">
	<a href="/">Cancel</a>
</div>

<div class="container">

<%= bootstrap_form_for setup_user(User.new), url: '/signup' do |f| %>

<div class="col-sm-8">
	<div class="backpanel">
		<div class="row">

				<%= f.fields_for :publicprofile do |ff| %>
					<div class="row">
					  <div class="col-sm-6">
					    <%= ff.text_field :firstname %>
					  </div>
					  <div class="col-sm-6">
					    <%= ff.text_field :lastname %>
					  </div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<%= ff.file_field :profile_photo %>
						</div>
					</div>
				<% end %>


		</div>
		<%= f.email_field :email %>
		<%= f.password_field :password %>
		<%= f.password_field :password_confirmation %>
		<%= f.submit 'Join!' %>
	</div>
</div>
<% end %>


</div>