<!DOCTYPE html>
<html>
<head>
  <title>Facebookly2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="well well-sm">
		<h4> <a href="/">Facebook.ly</a></h4>
	</div>

<div class="well well-sm">
	<% if @current_user %>

		Hello <%= @current_user.firstname %>! | <a href="/logout">Logout</a> | <a href="/preferences/edituser">Edit your info</a> | <%= Time.now.strftime("%I:%M:%S %Z") %>

	<% else %>

	<a href="/signup">Join Facebookly</a> or <a href="/login">Login</a>

	<% end %>
</div>


<%= yield %>

</body>
</html>
