<!DOCTYPE html>
<html>
<head>
  <title>Facebookly2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<div class="backpanel">
	<h4> <a href="/">Facebook.ly</a></h4>
</div>

<div class="backpanel">
	<% if @current_user %>

		<%= image_tag show_profile_photo(@current_user, :small), size: "100x100" %> 
		<strong>Hello <%= @current_user.publicprofile.firstname %>!</strong> | <a href="/logout"> <span class="glyphicon glyphicon-off"></span> logout</a> | <a href="/preferences/edituser"> <span class="glyphicon glyphicon-pencil"></span> edit profile</a> <span class="pull-right"><%= Time.now.strftime("%I:%M:%S %Z") %></span>

	<% else %>

	<a href="/signup"> <span class="glyphicon glyphicon-plus"></span> Join </a> | <a href="/login"> <span class="glyphicon glyphicon-off"></span> login</a>

	<% end %>
</div>


<%= yield %>



</div> <!-- .container -->
</body>
</html>
